{% extends 'base.html' %}
{% load static%}

{% block content %}

<div class="container home-presentation">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <h2>Little Lemon</h2>
            <p>
                We are a family owned <br>
                Mediterranean restaurant, <br>
                focused on traditional recipes<br>
                served with a modern twist.
            </p>
            <button class="btn btn-primary">Reservation</button>
        </div>
        <div class="col-lg-4 col-sm-12">
            <img src="{% static 'restaurant_food_B.jpg' %}" alt="Image" height="30%">
        </div>
    </div>
</div>

<div class="container">
    <div class="row home-item-promo">
        <h3>Promotion</h3>
    </div>
    <div class="row">
        <div class="col home-item">
            Our new menu
        </div>
        <div class="col home-item">
            Book a table
        </div>
        <div class="col home-item">
            Opening hours
        </div>
    </div>
</div>

{% endblock %}