{% extends 'base.html' %}
{% load static%}

{% block content %}

<div class="container home-presentation">
    <div class="row">
        <div class="col-lg-8">
            <h2 style="padding-left: 50px;">Little Lemon</h2>
            <p style="padding-left: 50px;">
                We are a family owned <br>
                Mediterranean restaurant, <br>
                focused on traditional recipes<br>
                served with a modern twist.
            </p>
            <p style="margin-left: 50px;">
                <a href="{% url 'reservations' %}" class="btn btn-primary">Reservation</a>
            </p>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'restaurant_food_B.jpg' %}" alt="Image" >
        </div>
    </div>
</div>

<div class="container">
    <div class="row home-item-promo" style="text-align: center;">
        <h3>SPECIAL OFFER</h3>
        <p>
            30% Off This Weekend<br>
            <a href="{% url 'reservations' %}" class="btn btn-primary">Book now</a>
        </p>
    </div>
    <div class="row">
        <div class="col home-item">
            <h5>Our new menu</h5>
            <p>
                Our menu consists of 12-15 seasonal items based on Italian, Greek, and
                Turkish culture.
            </p>
            <img src="{% static 'Grill.jpg' %}" >
        </div>
        <div class="col home-item">
            <h5>Book a table</h5>
            <p>
                Reserve your table for an Italian, Greek, and Turkish dining experience.
            </p>
            <img src="{% static 'salad.jpg' %}" >
        </div>
        <div class="col home-item">
            <h5>Opening hours</h5>
            <p>
                The Little Lemon Restaurant is open 7 days a week, except for public
                holidays.
            </p>
            <!--
            <ul>
                <li>Mon - Fri: 2pm - 10pm</li>
                <li>Sat: 2pm - 11pm</li>
                <li>Sun: 2pm - 9pm</li>
            </ul>
            -->
            <img src="{% static 'head_chef.jpg' %}" >
        </div>
    </div>
</div>

{% endblock %}