.menu-presentation {
    height: 500px; /* Fixed height for both columns */
    border: 2px solid #ccc; /* Border to create the box */
    border-radius: 20px;
    padding: 15px; /* Padding inside the box */
    margin-top: 20px;
    margin-bottom: 50px;
}


/*menu list show*/
.menu-item {
    border: 2px solid;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.menu-list {
    height:400px;
    direction: ltr;
    overflow-y:scroll;
}



/*show info about the menu item*/
.modal {
    display: none;
    z-index: 0;
    background-color: rgba(0,0,0.4);
}

.close {
    color: #aaa;
    font-size: 28px;
}
