{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <h3>Menu list</h3>

    <div class="row">
        <div class="col-lg-8 menu-list">
            {% for item in menu %}
                <div class="row menu-item">
                    <h5>{{ item.title }}</h5>
                    <div class="col-10">
                        <p>Price: {{ item.price}}<br>
                        Category: {{ item.category }}</p>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-info btn-sm" id="myBtn">Info</button>
                        <!-- the modal -->
                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <p class="close">&times;</p>
                                <p>{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-4">
            <img src="{% static 'img/pasta.jpg' %}" alt=" {{ item.title }}" width="100%">
        </div>
    </div>





<script src="{% static 'script/menu.js' %}"></script>

{% endblock %}