<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-section">
                <h5>About Us</h5>
                <p>Little Lemon is dedicated to providing the best dining experience. Visit us and enjoy our delicious menu!</p>
            </div>
            <div class="col-md-4 footer-section">
                <h5>Contact</h5>
                <ul>
                    <li>Email: info@littlelemon.com</li>
                    <li>Phone: +1-234-567-890</li>
                    <li>Address: 123 Food Street, Cityville</li>
                </ul>
            </div>
            <div class="col-md-4 footer-section">
                <h5>Follow Us</h5>
                <ul class="social-links">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2025 Little Lemon. All rights reserved.</p>
        </div>
    </div>
</footer>
