.home-presentation {
    display: flex; /* Flexbox for layout */
    border: 2px solid #ccc; /* Box border */
    border-radius: 20px; /* Rounded corners */
    padding: 15px; /* Padding inside the box */
    margin: 40px auto; /* Center the box horizontally */
    box-sizing: border-box; /* Include padding and border in width/height */
}

.col-lg-8 {
    display: flex; /* Flexbox for centering text */
    flex-direction: column; /* Stack text elements vertically */
    justify-content: center; /* Center text vertically within the column */
    text-align: left; /* Center text horizontally */
}

.col-lg-4 {
    display: flex; /* Flexbox for image container */
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
}

.col-lg-4  img {
    width: 90%; /* Fit the image to the container's width */
    height: auto; /* Maintain image's aspect ratio */
    border-radius: 20px; /* Optional: Round image edges */
}


.home-item-promo {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.home-item {
    padding: 20px;
    border: 2px solid #ccc;
    margin: 10px;
    border-radius: 20px;
}

.home-item img {
    width: 100%;
    border-radius: 20px;
    justify-content: center;
}

